body{
  margin: 0;
  padding: 0;
}

.top-nav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background: url(../../../image/backgrounds/back2.jpg);
  z-index: 10;
}

.top-nav:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 35px;
  background-image: url(../../../image/a/aaas3.png);
  background-size: contain;
  bottom: -35px;
}

.content{
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;
  z-index: 0;
  background: #8e4848 url(http://patcreator.appspot.com/imgs/textures/dark/dark-texture-03.jpg);
}

.location-block{
  width: 100%;
  height: calc(50% + 35px);
  display: inline-block;
  float: left;
}

.CenterNav{
  width: 800px;
  height: 518px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.board-game{
    background: url(../../../image/game/board-game.png);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1
}

.siti{
  background: url(../../../image/city3.jpg);
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% - 10px);
  background-size: cover;
  background-position: center;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.chat-block{
  width: 100%;
  height: calc(50% - 35px);
  display: inline-block;
  float: left;
}


.chat,.user-li{
  float: left;
  display: inline-block;
  height: calc(100% - 20px);
  background: rgba(0, 0, 0, 0.4);
  margin: 10px;
  border-radius: 7px;
  box-shadow: inset 0px 0px 10px 3px;
}

#chat{
    width: calc(100% - 350px);
}

#user-li{
    width: calc(310px);
}

.rooms-block,.messages-block,.new-message-block{
  float: left;
  display: inline-block;
  width: 100%;
}

.rooms-block{
  height: 30px;
  border-radius: 7px 7px 0 0;
}
.rooms{

}
.search{
  float: right;
  width: 140px;
  padding-top: 10px;
  margin-right: 5px;
}
#search-chat{
  width: 120px;
  float: left;
  background: rgba(0, 0, 0, 0.55);
  border: 1px solid #464646;
  border-radius: 3px;
  height: 20px;
  /* margin-top: 10px; */
  color: silver;
  padding-left: 5px;
}
.scbtn{
  float: left;
height: 14px;
display: inline-block;
color: silver;
font-size: 12px;

cursor: pointer;
}

#totopsearch{}
#tobottomsearch{
  margin-top: -3px;
}

.messages-block{
  height: calc(100% - 60px);
}
.new-message-block{
  height: 30px;
  border-radius: 0 0 7px 7px;
}
.to-user{

}
.new-msg{

}
.send-msg{}
