<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/style/404/404.css">
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="script/404/404.js"></script>
	<script type="text/javascript" src="script/global.js"></script>
</head>
<body>

<div id="codeblock" style="height: 100%;"><pre id="preblock" style="height: 100%;"><code id="codepara"></code></pre></div>
<div id='container'>
<canvas id='canvas'>
Your browser does not support HTML5 Canvas.
</canvas>
</div>
<div class="ERROR_block">
	<div id="clouds">
		 <div class="cloud x1"></div>
		 <div class="cloud x1_5"></div>
		 <div class="cloud x2"></div>
		 <div class="cloud x3"></div>
		 <div class="cloud x4"></div>
		 <div class="cloud x5"></div>
	</div>
	<div class='c'>
		 <div class='_404'>404</div>
		 <hr>
		 <div class='_1'>THE PAGE</div>
		 <div class='_2'>WAS NOT FOUND</div>
		 <a class='btn' href='/'>На главную</a>
	</div>
</div>
</body>
</html>
