<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Сайт в разработке</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/developing/dev.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="script/developing/dev.js"></script>
  <script type="text/javascript" src="script/global.js"></script>
</head>

<body>

  <div class="spn_hol" style="/* display: none; */">
      <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
  </div>
  <div class="container">
    <div class="container__item landing-page-container">
      <div class="content__wrapper">

        <header class="header">
          <div class="menu-icon header__item">
            <span class="menu-icon__line"></span>
          </div>

          <h1 class="heading header__item">VERNISSAGE</h1>


        </header>



        <div class="ellipses-container">

          <h2 class="greeting">
            <%= conf.opens_msg %>
          </h2>

          <div class="ellipses ellipses__outer--thin">

            <div class="ellipses ellipses__orbit"></div>

          </div>

          <div class="ellipses ellipses__outer--thick"></div>
        </div>


      </div>

    </div>

  </div>





  <div>

  </div>

</body>

</html>
