<!DOCTYPE html>
<html>
<head>
  <title>Мир</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/style/global-style.css">
  <link rel="stylesheet" type="text/css" href="/style/game/style.css">
  <link rel="stylesheet" type="text/css" href="/style/game/adaptive.style.css">

  <script src="script/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="script/jquery-3.2.1.js" type="text/javascript"></script>

  <script src="script/socketIO/socket.io.js" type="text/javascript"></script>
  <script src="script/global/global.js"></script>
  <script src="script/game/game.js" type="text/javascript"></script>
  <script src="script/game/socket.js" type="text/javascript"></script>
</head>
<body>
<div class="top-nav">

  <div class="user_nav_block_L">
    <div class="users_mini_ava"></div>
    <div class="users_game_nick_name"></div>
  </div>

  <div class="menu_btn_block">
    <div class="BUTTON_MENU">Профиль</div>
    <div class="BUTTON_MENU">Рюкзак</div>
    <div class="BUTTON_MENU">Команда</div>
    <div class="BUTTON_MENU">Сообщения</div>
    <div class="BUTTON_MENU">Друзья</div>
    <div class="BUTTON_MENU">Клан</div>
    <div class="BUTTON_MENU">Дневник</div>
  </div>
  <div class="user_nav_block_R"></div>

</div>
<div class="content">
  <div class="load">
    <div class='wrapper'>
      <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
      <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
      <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
      <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
      <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
</div>
    <div class="load_text">Заходим в мир</div>
  </div>
  <div class="location-block">
    <div class="BLOCK LeftNav">
      <div class="NavPointtitle" id="NPTL">ПЕРЕХОДЫ</div>
      <div class="Button_area"></div>
    </div>
    <div class="BLOCK CenterNav" id="centerBlockCity">
      <div class="board-game">
        <div id="LocNameGlobal">...</div>
        <div id="LocInfoGlobal">...</div>
      </div>
      <div class="siti" id="SityImage" style=""></div>
    </div>
    <div class="BLOCK RightNav">
      <div class="NavPointtitle" id="NPTR">ПЕРСОНАЖИ</div>
      <div class="Button_area"></div>
    </div>

<div class="NPC_DIALOGS">
  <div class="NPC_load"></div>
  <div class="NPC_CLOSE">X</div>
  <div class="NPC_TITLE"></div>
  <div class="NPC_TEXT"></div>
  <div class="NPC_OTVET"></div>
</div>

  </div>
  <div class="chat-block">
    <div class="chat" id="chat">
      <div class="rooms-block">
        <div class="rooms">
          <div class="RoomBTN RoomActive" id="ChatDefault" chat="mainChat" title="Общий чат"></div>
          <div class="RoomBTN" id="ChatLocation" chat="loc1" title="Чат локации"></div>
          <div class="RoomBTN" id="ChatShops"  chat="ShopChat" title="Чат для торговли"></div>
        </div>
        <div class="search">
          <input type="text" name="srchChat" id="search-chat" placeholder="Поиск">
          <div class="scbtn" id="totopsearch">▲</div>
          <div class="scbtn" id="tobottomsearch">▼</div>
        </div>
      </div>
      <div class="messages-block msgBlockActive" onRoom="mainChat"></div>
      <div class="messages-block" onRoom="loc1"></div>
      <div class="messages-block" onRoom="ShopChat"></div>
      <div class="new-message-block">
        <div class="to-user">
          <input type="text" class="chatInputText" placeholder="Кому">
        </div>
        <div class="new-msg">
          <input type="text" class="chatInputText" placeholder="Введите ваше сообщение..." id="msgText">
          <div class="smile_btn"></div>
        </div>
        <div class="send-msg" id="sendingMessage"></div>
      </div>
      <div class="smiles_block"></div>
    </div>
    <div class="user-li" id="user-li">
      <div class="search">
        <input type="text" name="srchChat" id="search-user" placeholder="Поиск">
        <div class="scbtn" id="totopsearch_1">▲</div>
        <div class="scbtn" id="tobottomsearch_1">▼</div>
      </div>
      <div class="users_online_list" id="users_online_list"></div>
    </div>
  </div>
</div>

</body>
</html>
