<!DOCTYPE html>
<html>
<head>
  <title>Мир</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/style/global-style.css">
  <link rel="stylesheet" type="text/css" href="/style/game/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="/style/game/adaptive.style.css"> -->

  <script src="script/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="script/jquery-3.2.1.js" type="text/javascript"></script>
</head>
<body>
<div class="top-nav"></div>
<div class="content">
  <div class="location-block">
    <div class="BLOCK LeftNav"></div>
    <div class="BLOCK CenterNav">
      <div class="board-game"></div>
      <div class="siti"></div>
    </div>
    <div class="BLOCK RightNav"></div>
  </div>
  <div class="chat-block"></div>
</div>
</body>
</html>
