<!DOCTYPE html>
<html>
<head>
  <title>Мир</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/style/global-style.css">
  <link rel="stylesheet" type="text/css" href="/style/game/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="/style/game/adaptive.style.css"> -->
  <script src="script/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="script/jquery-3.2.1.js" type="text/javascript"></script>
  <script src="/script/global/global.js"></script>
  <script src="script/game/game.js" type="text/javascript"></script>
</head>
<body>
<div class="top-nav"></div>
<div class="content">
  <div class="location-block">
    <div class="BLOCK LeftNav"></div>
    <div class="BLOCK CenterNav" id="centerBlockCity">
      <div class="board-game"></div>
      <div class="siti"></div>
    </div>
    <div class="BLOCK RightNav"></div>
  </div>
  <div class="chat-block">
    <div class="chat" id="chat">
      <div class="rooms-block">
        <div class="rooms"></div>
        <div class="search">
          <input type="text" name="srchChat" id="search-chat" placeholder="Поиск">
          <div class="scbtn" id="totopsearch">▲</div>
          <div class="scbtn" id="tobottomsearch">▼</div>
        </div>
      </div>
      <div class="messages-block"></div>
      <div class="new-message-block">
        <div class="to-user"></div>
        <div class="new-msg"></div>
        <div class="send-msg"></div>
      </div>
    </div>
    <div class="user-li" id="user-li"></div>
  </div>
</div>
</body>
</html>
