<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Тёмный мир - новое начало</title>
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/style/global-style.css">
  <link rel="stylesheet" type="text/css" href="/style/index/style.css">

  <script src="script/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="script/jquery-3.2.1.js" type="text/javascript"></script>
  <script src="/script/index/index.js"></script>
</head>
<body>
  <div class="background">
    <div class="background-image"></div>
    <div class="background-texture"></div>
  </div>
  <div class="preload"></div>
  <div class="panel" id="leftP">
    <div class="head-lumen">
      <div class="lum-l">
        <div class="light"></div>
      </div>
      <div class="lum-r">
        <div class="light"></div>
      </div>
    </div>
    <div class="auth-block">
      <div class="auth-line" id="login-data">
        <input type="text" class="auth-data" autocomplete="off" name="userNickname">
      </div>
      <div class="auth-line" id="pass-data">
        <input type="password" class="auth-data" autocomplete="off" name="userPassword">
      </div>
      <div class="auth-line" id="check-data">
        <section title=".squaredThree">
          <!-- .squaredThree -->
          <div class="squaredThree">
            <input type="checkbox" value="None" id="squaredThree" name="check" checked />
            <label for="squaredThree"></label>
          </div>
          <label for="squaredThree" class="clickLabel">Запомнить меня</label>
          <!-- end .squaredThree -->
        </section>

      </div>
      <div class="auth-line" id="button-data">
        <div class="btn" id="btnAuth">Войти</div>
        <div class="btn" id="btnReg">Регистрация</div>
      </div>
    </div>
    <div class="textures"></div>
  </div>
  <div class="panel" id="rightP">
    <div class="mini-panel">
      <div class="nev-btn btnAct" id="about">
        <div class="icon"></div>
      </div>
      <div class="nev-btn" id="news">
        <div class="icon"></div>
      </div>
      <div class="nev-btn" id="tours">
        <div class="icon"></div>
      </div>
      <div class="nev-btn" id="tops">
        <div class="icon"></div>
      </div>
    </div>
  </div>
  <div id="clock">
    <div class="clock-data">
      <div class="clock-block">
        <div class="online">Игроков в мире</div>
        <div class="online" id="online-title">- 100500 -</div>
      </div>
      <div class="clock-block" id="current-time">
          <div id="times">16:20</div>
          <div id="current-date">24 Июля 2018</div>
      </div>
    </div>
  </div>
  <div class="content-block">
    <div class="data-block" id="block-top">
      <div class="blockTopNavPanel">
        <div class="arrow-page">

        </div>
      </div>
    </div>
    <div class="data-block" id="block-news"></div>
    <div class="data-block" id="block-about"></div>
    <div class="data-block" id="block-tops"></div>
  </div>
</body>
</html>
