<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/style/global-style.css">
    <link rel="stylesheet" type="text/css" href="/style/register/style.css">
    <script src="3D/three.js"></script>
    <script src="3D/Detector.js"></script>
    <script src="3D/OrbitControls.js"></script>
    <script src="3D/OBJLoader.js"></script>
    <script src="3D/MTLLoader.js"></script>
    <script src="script/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="script/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="/script/register/register.js"></script>
  </head>
  <body>
    <div class="background">
      <div class="texture"></div>
      <div class="register-logo"></div>
    </div>
    <div class="PagePrew"></div>
    <div class="block">
      <div class="registers-block reg-L">
        <div class="tops-texture"></div>
        <div class="re-users" id="avatar">
          <main>
            <dna>
              <column>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
              </column>
              <column>
                <dash></dash>
                <dash></dash>
                <dash></dash>
                <dash></dash>
                <dash></dash>
                <dash></dash>
                <dash></dash>
                <dash></dash>
              </column>
              <column>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
                <dot></dot>
              </column>
            </dna>
          </main>
          <div class="userVisualBtn head leftBTN"><span>Волосы</span>◄</div>
          <div class="userVisualBtn head rightBTN"><span>Волосы</span>►</div>

          <div class="userVisualBtn face leftBTN"><span>Лицо</span>◄</div>
          <div class="userVisualBtn face rightBTN"><span>Лицо</span>►</div>

          <div class="userVisualBtn body leftBTN"><span>Тело</span>◄</div>
          <div class="userVisualBtn body rightBTN"><span>Тело</span>►</div>

          <div class="userVisualBtn short leftBTN"><span>Ноги</span>◄</div>
          <div class="userVisualBtn short rightBTN"><span>Ноги</span>►</div>

          <div class="userVisualBtn foot leftBTN"><span>Ноги</span>◄</div>
          <div class="userVisualBtn foot rightBTN"><span>Ноги</span>►</div>
          <div id="d3AvaArea">

          </div>
        </div>
        <div class="reg-nav-L">
          <div class="area">
            <div class="section-select">
              <div class="button-section btnLEFT">◄</div>
              <div class="data-section">
                <div class="option-section selected">♂ Мужчина</div>
                <div class="option-section">♀ Женщина</div>
              </div>
              <div class="button-section btnRIGHT">►</div>
            </div>
          </div>
        </div>
      </div>
      <div class="center-block">
        <div class="tops-texture"></div>
        <div class="centerSuteBlock">
          <div class="CUTEL"></div>
          <div class="CENTER"></div>
          <div class="CUTER"></div>
        </div>
        <div id="rules">
          <div class="rules-title">Правила</div>
          После регистрации пользователь (в дальнейшем Игрок) получает в свое распоряжение игрового персонажа, стартового монстра, начальный набор предметов и доступ к миру игры (в дальнейшем Игра).
          Для своего дальнейшего развития, игрок должен участвовать и побеждать в поединках с другими персонажами, ловить и развивать новых монстров.
          <br><br>
          Побеждая в поединках, Игрок получает бонусы в виде повышения своей репутации и уровня монстров, а так же игровых денег и вещей.
          <br><br>
          Кроме того, Игрок может получать игровые деньги и вещи, выполняя квесты и побеждая диких (не принадлежащих игрокам) монстров.
          <br><br>
          1. При использовании сервиса Игры <b>ЗАПРЕЩАЕТСЯ</b>:
          <br><br>
          ♦ Регистрация одним игроком более одного игрового персонажа (в том числе с целью увеличения благосостояния иных своих игровых персонажей или игровых персонажей третьих лиц).<br>
          ♦ Предоставление ложной информации о персонажах, заходивших с одного компьютера.<br>
          ♦ Прокачка на "ботах", т.е. специально заведенных персонажах.<br>
          ♦ Использование сторонних программных средств для улучшения/автоматизации игровых возможностей (автокликеры и прочее).<br>
          ♦ Прокачка на других игроках за кредиты или взаимная прокачка.<br>
          ♦ Прокачка младшего уровня старшим.<br>
          ♦ Финансовая прокачка (безвозмездная или сопоставимая с таковой передача Игроком своих игровых ценностей, монстров, аккаунтов в постоянное или временное пользование другим Игрокам).<br>
          ♦ Предложение в чате взаимной прокачки, заведомого проигрыша/выигрыша боя за кредиты.<br>
          ♦ Использование в имени (нике) игрового персонажа или монстра ненормативной лексики, оскорблений, названий наркотических средств, а также регистрация имён (ников), затрагивающих политику, разжигающих межнациональную рознь, являющихся ссылками на другие интернет-ресурсы, являющихся схожими с именами (никами), используемыми Администрацией и Судьями игры.<br>
          ♦ Использование ненормативной лексики и матозаменителей в чате/форуме/тренеркарте/кланкарте.<br>
          ♦ Оскорбительные высказывания в адрес Администрации или Игроков, унижение их чести и достоинства, выраженное в неприличной форме.<br>
          ♦ Сексуальные домогательства.<br>
          ♦ Пропаганда расизма, националистические высказывания<br>
          ♦ Дискриминация любого рода (по расовой, религиозной, половой принадлежности)<br>
          ♦ Угрозы насилием и/или физической расправой в реальности.<br>
          ♦ Флуд/спам в чате/форуме/тренеркарте/кланкарте<br>
          ♦ Реклама сайтов, распространение ссылок на веб-сайты, содержание которых не относится к игре.<br>
          ♦ Обман игроков (в т.ч. мошенничество при проведении торговых сделок, невыполнение условий сделки).<br>
          ♦ Вымогательство/шантаж - принуждение к совершения сделки посредством угроз распространения сведений, позорящих потерпевшего, либо иных сведений, которые могут причинить существенный вред правам или законным интересам потерпевшего.<br>
          ♦ ДОС-атаки, использование ошибок программного обеспечения.<br>
          ♦ Взлом/похищение персонажей.<br>
          ♦ Распространение ссылок на веб-сайты, содержание которых вызывает сбои в работе компьютера, а равно на веб-сайты, содержание которых направлено на незаконное получение паролей доступа к персонажам игры.<br>
          ♦ Покупки/продажи (равно как и попытки это сделать) у других Игроков персонажа/кредитов/монстров/вещей за реальные деньги/вещи.<br>
          ♦ Покупки/продажи (равно как и попытки это сделать) предметов/услуг, не имеющих отношения к Игре, за кредиты/вещи/монстров Игры.<br>
          ♦ Передача реквизитов своего персонажа(логин, пароль) другим игрокам, как безвозмездно, так и за игровые или реальные деньги.<br>
          ♦ Попрошайничество.<br>
          ♦ Чрезмерное давление на Администрацию и Полицию Игры в чате и ЛС.<br>
          ♦ Чрезмерное использование заглавных букв в сообщениях чата.<br>
          ♦ Провокация других Игроков к нарушению данных правил.<br>
          ♦ При нарушении вышеизложенных правил Игроку (пользователю) может быть незамедлительно, без какого-либо предварительного уведомления, отказано в услугах по предоставлению сервиса игры или такие услуги могут быть ограничены полностью или в части.<br>
          <br><br>
          2. Основные положения:
          <br><br>
          ♦ Администрация управляет и администрирует Игру исключительно по своему усмотрению.<br>
          ♦ Администрация не несёт ответственности за взаимоотношения между Игроками, в том числе за сделки, совершаемые в Игре.<br>
          ♦ Все сделки, не предусмотренные стандартными функциями игры (аукционы в чате, аренда предметов, договорные правила боев и прочее), совершаются Игроками на свой страх и риск и основаны на доверии пользователей заключающих сделку. Администрация и Полиция не гарантирует возмещение ущерба, нанесенного в следствии обманов и не соблюдения условий сделки.<br>
          ♦ Использование сервисов Игры производится Игроком исключительно самостоятельно и по принципу «как-есть», то есть Администрация игры не отвечает перед Игроком ни при каких обстоятельствах за любой прямой и/или косвенный ущерб, которые могут быть у игрока в связи с получением сервиса игры или невозможностью такой сервис получить.<br>
          ♦ Настоящие правила могут быть изменены Администрацией игры без какого-либо предварительного уведомления. Игрок обязуется проверять данные правила на предмет изменений не менее чем один раз в семь дней. В случае, если такой проверки не будет в указанные сроки или после ознакомления с правилами (новой редакцией правил) Игрок продолжает пользоваться сервисом игры, считается, что игрок ознакомлен и согласен с правилами (новой редакцией правил).<br>
          <br>
          Соглашаясь с правилами я снимаю з администрации и разработчиков всю ответственность за безопасность моих данных.
          <br>
          И даже в случае их потери я не буду иметь претензии!

          <br><br>
          Незнание правил не освобождает от ответственности!
        </div>
      </div>
      <div class="registers-block reg-R">
        <div class="tops-texture"></div>
        <div class="reg-nav-R">
          <div class="data-block">
            <div class="title">Ник (Игровое Имя)</div>
            <input type="text" placeholder="Ник" id="newNick">
            <div class="data-textures"></div>
          </div>
          <div class="data-block">
            <div class="title">Ваше Имя (Ваше реальное Имя)</div>
            <input type="text" placeholder="Имя" id="newName">
            <div class="data-textures"></div>
          </div>
          <div class="data-block">
            <div class="title">Отчество (Ваше реальное Отчество)</div>
            <input type="text" placeholder="Отчество"  id="newLastName">
            <div class="data-textures"></div>
          </div>
          <div class="data-block">
            <div class="title">Дата рождения</div>
            <input type="text" placeholder="Дата рождения"  id="newDate">
            <div class="data-textures"></div>
          </div>
          <div class="data-block">
            <div class="title">Электронная почта</div>
            <input type="email" placeholder="Электронная почта"  id="newEmail">
            <div class="data-textures"></div>
          </div>
          <div class="data-block">
            <div class="title">Пароль</div>
            <input type="password" placeholder="Пароль"  id="newPass">
            <div class="data-textures"></div>
          </div>
          <div class="data-block">
            <div class="title">Повторите пароль</div>
            <input type="password" placeholder="Повторите пароль"  id="newPass2">
            <div class="data-textures"></div>
          </div>
          <div class="data-block">
            <div class="title">Фракция</div>
            <div class="setFraction">
              <div id="frac1"></div>
            </div>
            <div class="setFraction">
              <div id="frac2"></div>
            </div>
            <div class="setFraction">
              <div id="frac3"></div>
            </div>
          </div>
          <div class="data-block">
            <div class="form">
              <input type="checkbox" class="checkedRules" id="check"/>
              <label for="check" style="--d: 30px;">
                <svg viewBox="0,0,50,50">
                  <path d="M5 30 L 20 45 L 45 5"></path>
                </svg>
              </label>
                <div class="ttxt">Я согласен с правилами игры</div>
            </div>
          </div>
          <div class="data-block registration">
            <div class="RegisterButton">
              Зарегистрировать персонажа
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modalBackground">
      <div class="modalInfo">
        Вы успешно зарегистрированы.<br>
        Сообщение с подтверждением отправленно вам на електронную почту!
      </div>
    </div>

  </body>
</html>
