body{
  margin: 0;
  padding: 0;
  cursor: url(cursors/Arrow.cur), auto;
}

@font-face {
    font-family: 'index';
    src: url('fonts/index.ttf');
}
@font-face {
    font-family: 'btnFont';
    src: url('fonts/8.ttf');
}

@font-face {
    font-family: 'OneText';
    src: url('fonts/9.ttf');
}

@font-face {
    font-family: 'alert';
    src: url('fonts/alert.ttf');
}

.star {
  width: 16px;
  height: 16px;
  float: left;
  display: inline-block;
  margin-left: 0px;
}

.s1{
  background-image: URL(../../../image/stars.png);
  background-position: -3px -1px;
  background-size: 90px;
}
.s2{
  background-image: URL(../../../image/stars.png);
background-position: -21px -1px;
background-size: 90px;
}
.s3{
  background-image: URL(../../../image/stars.png);
background-position: -36px -1px;
background-size: 90px;
}
.s4{
  background-image: URL(../../../image/stars.png);
background-position: -54px -1px;
background-size: 90px;
}
.s5{
  background-image: URL(../../../image/stars.png);
background-position: -70px -1px;
background-size: 90px;
}

.loader {
  /* margin: 0 0 2em; */
  height: 100%;
  width: 100%;
  text-align: center;
  /* padding: 1em; */
  /* margin: 0 auto 1em; */
  display: inline-block;
  vertical-align: top;
  background: rgba(81, 75, 71, 0.62);
  z-index: 1;
  position: absolute;
  border-radius: 5px;
  display: none;
}
/*
  Set the color of the icon
*/

.loader svg{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
svg path,
svg rect {
  fill: #FF6700;
}


.head-lumen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 51;
}

.lum-l, .lum-r{
    width: 50%;
    position: relative;
    height: 25px;
    display: inline-block;
    float: left;
}
.lum-l .light, .lum-r .light{
    position: absolute;
    left: 37%;
    top: 0;
    transform: translate(0, -50%);
    width: 25px;
    height: 10px;
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: rgba(255, 255, 0, 1) 0px 20px 140px 32px;
    box-shadow: rgba(255, 255, 0, 1) 0px 20px 140px 32px;
}

.lum-l .light{
  background: rgb(237, 255, 0) url(https://avatanplus.com/files/resources/mid/583ac15f0f27d158a5835b56.png);
  background-size: 185px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.lum-r .light{
  background: rgb(237, 255, 0) url(https://avatanplus.com/files/resources/mid/583ac15f0f27d158a5835b56.png);
  background-size: 185px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.bRed{
  color: red;
}
.bGreen{
  color: green;
}
.bGold{
  color: gold;
}
.bViolet{
  color: violet;
}
.bBlue{
  color: blue;
}
.bBlack{
  color: black;
}
.bWhite{
  color: white;
}

.modalBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.52) url(../../../image/sitka.png);
  display: none;
  background-size: 90px;
}

.modalInfo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: URL(../../../image/ALERT.png);
  background-size: contain;
  text-align: center;
  padding: 55px 40px;
  font-size: 22px;
  font-family: index;
  color: rgb(204, 24, 19);
  border-radius: 3px;
  background-repeat: no-repeat;
  width: 400px;
  height: 90px;
  text-shadow: 2px 2px 0px black;
  line-height: 75px;
}

.alertind-block{
  position: absolute;
  width: calc(100% - 40px);
  background: red;
  padding: 10px 20px;
  border-radius: 3px;
}

.thunder{
  filter: brightness(245%);
}
