body{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'index';
    src: url('fonts/6.ttf');
}
@font-face {
    font-family: 'btnFont';
    src: url('fonts/8.ttf');
}

@font-face {
    font-family: 'OneText';
    src: url('fonts/9.ttf');
}
