body{

}

.background{
  width: 100%;
  height: 100%;
  position: relative;
}

.background-image{
  background-image: url(../../../image/city3.jpg);
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.big-logo{
  width: 298px;
  height: 149px;
  background: url(../../../image/DW.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -25px;
  display: none;
}

.background-texture{
  background-image: url(../../../image/ack-texture.png);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.preload{
  position: fixed;
  top: 0;
}
.panel{
  position: fixed;
  width: 300px;
  height: 100%;
  background-image: url(../../../image/back2.jpg);
  top: 0;
  z-index: 10;
  transition: 0.3s;
}

#leftP{
  left: 0;
  box-shadow: 5px 0px 18px 0px black;
}


.logotype{
  width: calc(100% - 10px);
  height: 298px;
  /* background: url(../../../image/logo.png); */
  background-size: cover;
  background-position: center;
}
#rightP{
  right: 0;
  width: 50px;
  box-shadow: -5px 0px 18px 0px black;
}
.mini-panel{
  width: 47px;
  margin: auto;
  margin-top: 15px;
}

.nev-btn{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#about{
  background-image: url(../../../image/btn.png);
  background-position: -3px -3px;
}
#news{
  background-image: url(../../../image/btn.png);
  background-position: -3px -44px;
}
#tours{
  background-image: url(../../../image/btn.png);
  background-position: -3px -85px;
}
#tops{
  background-image: url(../../../image/btn.png);
  background-position: -3px -126px;
}

#about.btnAct{
  background-image: url(../../../image/btn.png);
  background-position: -97px -3px;
}
#news.btnAct{
  background-image: url(../../../image/btn.png);
  background-position: -97px -44px;
}
#tours.btnAct{
  background-image: url(../../../image/btn.png);
  background-position: -97px -85px;
}
#tops.btnAct{
  background-image: url(../../../image/btn.png);
  background-position: -97px -126px;
}

/* #about:hover{
  border: 2px solid #f5deb321;
  border-radius: 50px;
}
#news:hover{
  border: 2px solid #f5deb321;
  border-radius: 50px;
}
#tours:hover{
  border: 2px solid #f5deb321;
  border-radius: 50px;
}
#tops:hover{
  border: 2px solid #f5deb321;
  border-radius: 50px;
} */

#clock{
  position: absolute;
  right: 50px;
  top: 0;
  width: 240px;
  height: 150px;
  background-image: url(../../../image/clock.png);
  background-size: cover;
  z-index: 0;
}

.clock-data{
  width: 167px;
  height: 103px;
  background: rgba(255, 255, 255, 0) url(https://jhonnyarte.com.br/catalog/view/zencatalog/image/pattern/low-contrast-linen.png);
  position: absolute;
  left: 28px;
  top: 30px;
  background-size: cover;
}

.clock-block{
  width: 100%;
  height: 50%;
  float: left;
}

.online{
  width: 100%;
  height: 48%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 30px;
  font-family: index;
  color: rgba(0, 0, 0, 0.67);
}

#online-title{
    line-height: 27px;
}

#current-time{
  line-height: 37px;
  font-family: index;
  color: rgba(0, 0, 0, 0.67);
  text-align: center;
  font-size: 26px;
}

#times div{
  display: inline-block;
}

.opacity0{
  opacity: 0;
}
#current-date{
  line-height: 4px;
  font-size: 12px;
}

.content-block{
  position: absolute;
  width: calc(100% - 50px);
  height: 100%;
  background: transparent;
  overflow: hidden;
  top: 0;
}
.data-block{
  position: absolute;
  right: 0;
  width: calc(100% - 300px);
  height: 100%;
  bottom: -100%;
  transition: 0.5s;
}

#block-top{
  bottom: 0;
}
.blockTopNavPanel{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  background-image: url(../../../image/back2.jpg);
  z-index: 10;
  box-shadow: 0px -15px 18px -10px black;
  transition: 0.5s;
}

.arrow-page{
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../../../image/arrow.png);
  /* transform: rotate(45deg); */
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  top: -25px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: -8px -8px 14px -4px black;
  transition: 0.3s;
}
#block-news{
  background: url(../../../image/back3.jpg);
}
#block-tours{
  background: url(../../../image/back3.jpg);
}
#block-tops{
  background: url(../../../image/back3.jpg);
}

.block-title{
  position: absolute;
  left: 0px;
  top: 25px;
  font-size: 36px;
  font-family: index;
  color: white;
  width: 100%;
  height: 55px;
  background: black;
  text-align: center;
  line-height: 55px;
}

.profile-block{
  background-image: url(../../../image/auth-block2.png);
  width: 280px;
  height: 180px;
  position: absolute;
  top: 150px;
  left: 10px;
  transition: 0.5s;
  display: none;
}

.profile-left{
  width: 75px;
  height: calc( 100% - 50px);
  position: absolute;
  top: 30px;
  left: 18px;
}

.auth-block, .profile-block{
  display: none;
}
.avatara{
  width: 75px;
      height: 75px;
      background-size: contain;
      background-position: center;
      border: 2px solid black;
      border-radius: 5px;
      position: relative;
}

#avka{
  width: calc(100% + 1px);
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2) url(../../../image/crack-texture.png);
  background-size: contain;
  position: absolute;
}


.profile-right{
  width: 165px;
  height: calc( 100% - 50px);
  position: absolute;
  top: 30px;
  left: 100px;
}

.stars-block{
    width: 60%;
    height: 15px;
    right: 0;
    top: -16px;
    position: absolute;
}

.toWorld{
  position: absolute;
  width: 200px;
  height: 32px;
  background: #900000;
  background: #900000 url(../../../image/crack-texture.png);
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, -7px);
  border-radius: 5px;
  border: 2px solid #3a3a3a;
  text-align: center;
  line-height: 36px;
  font-family: index;
  color: rgba(255, 255, 255, 0.71);
  background-size: cover;
  cursor: pointer;
  outline: 1px dashed rgba(0, 0, 0, 0.35);
  outline-offset: -5px;
  transition: 0.3s;
}

.toWorld:hover{
  position: absolute;
  width: 200px;
  height: 32px;
  background: #900000;
  background: #a10000 url(../../../image/crack-texture.png);
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, -7px);
  border-radius: 5px;
  border: 2px solid #3a3a3a;
  text-align: center;
  line-height: 36px;
  font-family: index;
  color: rgba(255, 255, 255, 0.71);
  background-size: cover;
  cursor: pointer;
  outline: 1px dashed rgba(0, 0, 0, 0.35);
  outline-offset: -5px;
}

.toWorld:active{
    box-shadow: inset 1px 1px 3px 1px black;
}

.nick-name-block{
  font-family: btnFont;
  font-size: 13px;
  width: calc(100% + 11px);
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.3);
  margin-left: -4px;
  cursor: pointer;
    transition: 0.3s;
}

.nick-name-block span{
  position: absolute;
  top: -25px;
  background: rgba(0, 0, 0, 0.8);
  padding: 3px 10px;
  font-size: 11px;
  color: white;
  font-family: index;
  border-radius: 5px;
  transition: 0.3s;
  display: none;
}

.nick-name-block:hover span{
    transition: 0.3s;
  display: block;
}

.text-rank{
  font-family: index;
font-size: 12px;
width: 100%;
text-align: center;
color: #c2c2c2;
width: calc(100% + 11px);
border-bottom: 1px solid black;
cursor: default;
background: rgba(0, 0, 0, 0.51);
margin-left: -4px;
}
.auth-block{
  background-image: url(../../../image/auth-block.png);
  width: 280px;
  height: 180px;
  position: absolute;
  top: 150px;
  left: 10px;
  transition: 0.5s;
}

.textures{
  background-image: url(../../../image/a/aaas.png);
  width: 274px;
  height: 130px;
  position: absolute;
  top: 180px;
  left: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}



.auth-line{
  width: calc(100% - 38px);
  height: 30px;
  margin: auto;
}

.auth-data{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 2px solid #543b3b;
  background: rgba(31, 15, 15, 0.66) url(../../../image/i1.gif);
  color: rgba(255, 255, 255, 0.76);
  outline: none;
  text-align: center;
  padding: 0 5px 0 25px;
  font-family: index;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 15px;
}

#login-data{
  position: absolute;
  top: 35px;
  left: 20px;
}
#pass-data{
  position: absolute;
  top: 70px;
  left: 20px;
}
#check-data{
  position: absolute;
  top: 105px;
  left: 20px;
}
#button-data{
  position: absolute;
  top: 132px;
  left: 20px;
}

#button-data .btn{
  width: 110px;
  height: 24px;
  background: #b51f1f url(https://jhonnyarte.com.br/catalog/view/zencatalog/image/pattern/low-contrast-linen.png);
  border: 2px solid #6b161687;
  border-radius: 4px;
  text-align: center;
  line-height: 24px;
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.72);
  font-family: index;
  font-size: 14px;
  cursor: pointer;
  outline: 1px dashed rgba(0, 0, 0, 0.22);
  outline-offset: -5px;
  transition: 0.3s;
}
#btnAuth{
  float: left;
}
#btnReg{
  float: right;
  margin-right: 3px;
}

#button-data .btn:hover{
  background: #d02626 url(https://jhonnyarte.com.br/catalog/view/zencatalog/image/pattern/low-contrast-linen.png);

}
/* .squaredThree */
.squaredThree {
  /* width: 20px; */
  position: relative;
  /* margin: 20px auto; */
  width: 100%;
  height: 23px;
}
.squaredThree label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.squaredThree label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.clickLabel{
  position: absolute;
left: 25px;
top: 2px;
color: rgba(255, 255, 255, 0.6);
font-family: index;
font-size: 14px;
cursor: pointer;
}

/* end .squaredThree */

.blockTopNavPanel-data{
  width: fit-content;
  height: 150px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.blockTopNavPanel-btnBack{
  width: 180px;
  height: 115px;
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.blockTopNavPanel-btn{
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.52); */
  transition: 0.3s;
  cursor: pointer;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-size: cover;
}

.blockTopNavPanel-btn:hover{
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  /* background: rgba(0, 0, 0, 0.72); */

}

#sp{
  background-image: url(../../../image/btn/sp.png);
  background-position: center;
  background-repeat: no-repeat;
}

#helper{
  background-image: url(../../../image/btn/helps.png);
  background-position: center;
  background-repeat: no-repeat;
}

#forum{
  background-image: url(../../../image/btn/f.png);
  background-position: center;
  background-repeat: no-repeat;
}

.info-game{
  position: absolute;
  left: 325px;
  width: 431px;
  bottom: 55px;
  color: white;
  font-family: index;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.61);
  padding: 20px;
  box-shadow: 0px 0px 14px 3px black;
}

.solcials{
  position: absolute;
  right: 0px;
  top: -50px;
}

.socials-btn{
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  filter: grayscale(100%);
  opacity: 0.3;
  transition: 0.3s;
}

.socials-btn:hover{
  filter: grayscale(0%);
  opacity: 0.8;
}

#insta{
  background-image: url(../../../image/btn/instagram.svg);
}
#vk{
  background-image: url(../../../image/btn/vk.svg);
}
#telega{
  background-image: url(../../../image/btn/telegram.svg);
}


#news-data{
  position: absolute;
  top: 95px;
  width: 100%;
  height: calc(100% - 95px);
  overflow: hidden;
}
.news{
  width: calc(100% - 76px);
  margin: auto;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.32);
  border-bottom: 0;
  margin-bottom: 70px;
}
.news-title{
  width: 100%;
  height: 25px;
  background: rgba(255, 255, 255, 0.48) url(../../../image/back4.jpg);

}
.news-type{
  width: 25px;
  height: 25px;
  background: white;
  float: left;
}
.news-name{
  float: left;
  color: #dedede;
  padding-left: 10px;
  font-size: 16px;
  font-family: index;
  line-height: 25px;
  cursor: default;
}
.news-text{
  border-left: 2px solid rgba(255, 255, 255, 0.48);
  border-right: 2px solid rgba(255, 255, 255, 0.48);
  border-image: url(http://rpsplanadm.com/wp-content/uploads/2013/10/Dark-Background.jpg);
  padding: 16px;
  color: rgba(255, 255, 255, 0.78);
  font-family: index;
  background: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
.news-footer{
  width: 100%;
  height: 36px;
  background: rgba(255, 255, 255, 0.48) url(../../../image/back4.jpg);
}
.news-author{
  width: 40%;
  float: left;
}
.news-author-ava{
  width: 26px;
  height: 26px;
  float: left;
  background: rebeccapurple;
  margin: 5px 0px 0px 16px;
  background-size: contain;
}
.news-author-nick{
  float: left;
  padding-left: 10px;
  font-family: index;
  font-size: 16px;
  line-height: 37px;
  color: #dedede;
}
.news-date{
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-family: index;
  font-size: 12px;
  color: #dedede;
}
.news-textures{
  background-image: url(../../../image/a/aaas3.png);
  position: absolute;
  width: 100%;
  height: 40px;
  background-size: contain;
}


.pLoad{
  width: 100%;
  z-index: 9999999;
}


.loading-page {
  background: rgba(13, 13, 13, 0.42);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: index;
  position: absolute;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #f60d54;
}
.loading-page .counter h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  background: #f60d54;
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}




#registeModal{
  position: absolute;
  width: calc(100% - 350px);
  height: 100%;
  left: 300px;
  top: 0;
  z-index: 10;
  background: black;
  transition: 0.3s;

}
