<div class="slide slide-0">              
	<div class="slide__bg max" style="background-image: url(../../../data/slider/<%= vot.slideImage %>)"></div>
	<div class="slide__bg min" style="background-image: url(../../../data/slider/min/<%= vot.slideImage %>)"></div>
	
</div>
