<div class="SOCIALS_BLOCK">
	<a href="https://www.instagram.com/ladyman_store/" target="_blank"><div class="SOCIAL_CLOCK_BTN" id="INSTAGRAM"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
	<a href="https://invite.viber.com/?g2=AQAdgJZypw8n30ljU9PlVJbiHa3ZR3HzAC0mA3QFK%2BMIymzY9N3gUeBR2xXZwKIg&lang=ru" target="_blank"><div class="SOCIAL_CLOCK_BTN" id="VIBER"><i class="fa fa-whatsapp" aria-hidden="true"></i></div></a>
	<!-- <a href="viber://chat?id=ladymanclothingstore" target="_blank"><div class="SOCIAL_CLOCK_BTN"><i class="fa fa-whatsapp" aria-hidden="true"></i></div></a> -->
	<a href="https://vk.com/ladyman_club" target="_blank"><div class="SOCIAL_CLOCK_BTN" id="VKONTAKTE"><i class="fa fa-vk" aria-hidden="true"></i></div></a>
</div>