<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Управление базой данных</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="assets/js/pace.min.js"></script>
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="../../../image/Logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li><a href="/index-panel"><i class="fa fa-dashboard"></i> <span>Главная</span></a></li>
                            <li><a href="/payments-panel"><i class="fa fa-dollar"></i> <span>Заказы</span></a></li>
                            <li><a href="/menu-panel"><i class="fa fa-navicon"></i> <span>Категории/Типы</span></a></li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-edit"></i><span>Информация</span></a>
                                <ul class="collapse">
                                    <li><a href="/about-panel"><i class="fa fa-file-text-o"></i> <span>О нас</span></a></li>
                                    <li><a href="/paydel-panel"><i class="fa fa-money"></i> <span>Оплата и доставка</span></a></li>
                                    <li><a href="/privacepolicy-panel"><i class="fa fa-key"></i> <span>Политика конфиденциальности</span></a></li>
                                    <li><a href="/termsofuse-panel"><i class="fa fa-book"></i> <span>Условия пользования</span></a></li>
                                </ul>
                            </li>    
                            <li><a href="/catalog-panel"><i class="fa fa-shopping-cart"></i> <span>Каталог</span></a></li> 
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-newspaper-o"></i><span>Новости и объявления</span></a>
                                <ul class="collapse">
                                    <li><a href="/news-panel"><i class="fa fa-newspaper-o"></i> <span>Новости</span></a></li>
                                    <li><a href="/head-panel"><i class="fa fa-commenting"></i> <span>Объявления</span></a></li>
                                </ul>
                            </li>
                            <li><a href="/local-panel"><i class="fa fa-font"></i> <span>Локализация</span></a></li>
                            <li><a href="/visual-panel"><i class="fa fa-image"></i> <span>Визуальные настройки</span></a></li>
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-gears"></i><span>Настройки системы</span></a>
                                <ul class="collapse">
                                    <li class="active"><a href="/DB-panel"><i class="fa fa-database"></i> <span>База данных</span></a></li>
                                    <li><a href="/API-panel"><i class="fa fa-code"></i> <span>API</span></a></li>
                                    <li><a href="/system-panel"><i class="fa fa-server"></i> <span>Система</span></a></li>
                                </ul>
                            </li>                            
                            <li><a href="/users-panel"><i class="fa fa-users"></i> <span>Пользователи</span></a></li>                           
                            <li><a href="/faq-panel" style="color: green"><i class="fa fa-shopping-cart" style="color: green"></i> <span>Помощь</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <%- include ./includes/infoblock.ejs %> 
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Упавление базой данных</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="/">Lady & Man clotring store</a></li>
                                <li><span>База данных</span></li>
                            </ul>
                        </div>
                    </div>
                    <%- include ./includes/user.ejs %> 
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="row">
                    <div class="col-lg-6 col-ml-12">
                        <div class="row">
                            <!-- Textual inputs start -->
                            <div class="col-12 mt-5">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Подключение к базе</h4>
                                        <p class="text-muted font-14 mb-4">Настройки параметров базы данных</p>

                                        <div class="form-group">
                                            <label for="example-text-input" class="col-form-label">IP адресс базы</label>
                                            <input class="form-control" type="text" id="example-text-input" value="">
                                        </div>    

                                        <div class="form-group">
                                            <label for="example-text-input1" class="col-form-label">Порт базы</label>
                                            <input class="form-control" type="text" id="example-text-input1" value="">
                                        </div>    

                                        <div class="form-group">
                                            <label for="example-text-input2" class="col-form-label">Название базы</label>
                                            <input class="form-control" type="text" id="example-text-input2" value="">
                                        </div>                             

                                        <div class="form-group">
                                            <label for="example-text-input3" class="col-form-label">Логин</label>
                                            <input class="form-control" type="text" id="example-text-input3" value="">
                                        </div> 

                                        <div class="form-group">
                                            <label for="example-text-input4" class="col-form-label">Пароль</label>
                                            <input class="form-control" type="text" id="example-text-input4" value="">
                                        </div>   

                                        <button type="button" class="btn btn-success mb-2 col-12">Сохранить</button>

                                    </div>
                                </div>
                            </div>
                            <!-- Textual inputs end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <%- include ./includes/footer.ejs %>
        <!-- footer area end-->
    </div>
    <%- include ./includes/offset-area.ejs %> 
    <!-- jquery latest version -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="assets/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="assets/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="assets/js/maps.js"></script>
    <!-- others plugins -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>
