<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/style/404/404.css">
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="script/404/404.js"></script>
	<script type="text/javascript" src="script/global.js"></script>
  <script src="assets/js/pace.min.js"></script>
	<% if(isAdm){ %>
    <script type="text/javascript" src="script/ADM_FOLDER/adm_script.js"></script>
    <link rel="stylesheet" type="text/css" href="script/ADM_FOLDER/adm_style.css">
  <% } %>
</head>
<body>
	<div class="error__wrapper">
     <div class="orbits orbit_1">
       <div class="planets planet_1"></div>
       <div class="planets planet_2"></div>
       <div class="planets planet_3"></div>
     </div>
     <div class="orbits orbit_2">
       <div class="planets planet_1"></div>
       <div class="planets planet_2"></div>
       <div class="planets planet_3"></div>
     </div>
     <div class="orbits orbit_3">
       <div class="planets planet_1"></div>
       <div class="planets planet_2"></div>
       <div class="planets planet_3"></div>
     </div>
     <div class="orbits orbit_4">
       <div class="planets planet_1"></div>
       <div class="planets planet_2"></div>
     </div>
     <div class="error__contant">
       <h3 class="error__title">404</h3>
       <h4 class="error__subtitle">Простите, но такой страницы у нас нету :(</h4>
       <a href="/" class="error__link-back"> На главную </a>
     </div>
 </div>
</body>
</html>
