@font-face {
    font-family: 'Didact Gothic';
    src: url('../DidactGothic.ttf');
}

.contact {
    background: #ffc9df;
    padding-top: 15px;
    padding-bottom: 50px;
    position: relative;
}

.mainDLG{
	width: 100%;
    font-family: 'Didact Gothic', sans-serif; 'Didact Gothic', sans-serif;
}

.mainDLG{
	width: 100%;
    font-family: 'Didact Gothic', sans-serif; 'Didact Gothic', sans-serif;
}

.mainTitleDLG,.mainTextDLG{
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    font-size: 30px;
    padding-bottom: 0px;
}

.mainTextDLG{
	font-size: 20px;
    max-width: 824px;
    text-align: center;
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}
.post-module .thumbnail {
  background: #ffffff;
  overflow: hidden;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 5.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .thumbnail .date .day {
  font-size: 18px;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  /* display: none; */
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
.container_svg {

}
.container_svg:before,
.container_svg:after {
  content: '';
  display: block;
  clear: both;
}
.container_svg .column {
  width: 50%;
  padding: 0 8px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
}
.container_svg .column .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.container_svg .info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.container_svg .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.container_svg .info span {
  color: #666666;
  font-size: 12px;
}
.container_svg .info span a {
  color: #000000;
  text-decoration: none;
}
.container_svg .info span .fa {
  color: #e74c3c;
}

.container_svg svg{
  position: relative;
bottom: -5px;
}



h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
    float: left;
    width: 100%;
    position: relative;
    background-color: #c51162;
    height: 45px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form #input-submit .text {
    left: 10px;
    font-size: 22px;
    font-size: 17px;
    text-align: center;
    line-height: 45px;
    font-family: 'Didact Gothic', sans-serif;
    /* font-weight: 400; */
    color: #f8bbd0;
    /* text-transform: uppercase; */
    margin: auto;
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

svg { visibility: hidden }

.btnContainer {
	position: fixed;
	right: 5%;
	visibility: hidden;
}

.btnContainer p {
	border: 2px solid #FFF;
	color: #FFF;
	padding: 10px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
	font-family: 'Nova Mono', monospace;
}


.FollowMe {
	position: fixed;
	bottom: 5%;
	right: 5%;
	background-image: url("https://smalinux.github.io/myImg.jpg");
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	cursor: pointer;
}

@media (min-width: 100px) and (max-width: 650px) {
  .btnContainer {
    display: none;
  }
}

.container_partners{
  padding-top: 50px;
  max-width: 1024px;
  margin: auto;
  padding-bottom: 30px;
}

.block_left,.block_right{
  display: inline-grid;
  width: calc(50% - 2px);
  padding: 32px 46px;
  font-size: 20px;
}

.block_left{
    text-align: left;
}

.block_right{
    text-align: left;
}

.block_right li{
  background-image: url(http://chudozero.ru/wp-content/uploads/2017/08/galochka.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding-left: 26px;
}

.containerPartnersData{
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.container_partnersList{
  padding-top: 25px;
  padding-bottom: 30px;
}


.containerPartnersData img{
  margin: 20px;
}

#map{
  
}